<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Menu item under Accounting > Configuration -->
    <menuitem 
        id="menu_dynamic_accounting_config"
        name="Cấu hình Kế toán Tự động"
        parent="account.menu_finance_configuration"
        action="action_dynamic_accounting_config_wizard"
        sequence="100"/>
</odoo>
